@use './fonts.scss' as fonts;
@use './variables.scss' as vars;
@use './mixins.scss' as mixins;

html {
  font-size: 16px;
  color: vars.$color-cyan-300;
  background-color: vars.$color-black;
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
  font-family: fonts.$font-family;
  font-weight: 400;
  font-style: normal;
}

.container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: 0 auto;
}

.section {
  margin: 0 auto;
  padding: 1rem;
}

.btn {
  @include mixins.btn;
}

.btn-icon {
  @include mixins.btn-icon;
}
