@use './fonts.scss' as fonts;
@use './variables.scss' as vars;
@use './mixins.scss' as mixins;

html {
  font-size: 16px;
  color: vars.$color-primary;
  background-color: vars.$color-black;
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
  font-family: fonts.$font-family;
  font-weight: 400;
  font-style: normal;
}

body {
  min-height: 100vh;
  background-image: url('/images/bg.png');
  background-repeat: repeat;
  background-position: top left;
  background-size: 500px 500px;
}

.container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: vars.$color-transparent-black;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: start;
  padding: 1rem;
}

.btn {
  @include mixins.btn;
}

.btn-icon {
  @include mixins.btn-icon;
}
